# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.DS_Store

# gradle (don't include this if you want to use GitHub Actions)

out

src/main/solvers

/src/main/resources/setup.properties
